* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard-Regular, NanumGothic, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 100;
  src: url("fonts/NanumGothicLight.woff2") format('woff2'),
  url("fonts/NanumGothicLight.woff") format('woff'),
  url("fonts/NanumGothicLight.otf") format('truetype')
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/NanumGothic.woff2") format('woff2'),
  url("fonts/NanumGothic.woff") format('woff'),
  url("fonts/NanumGothic.otf") format('truetype')
}


@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/NanumGothicBold.otf") format('woff2'),
  url("fonts/NanumGothicBold.woff") format('woff'),
  url("fonts/NanumGothicBold.otf") format('truetype')
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: bold;
  src: url("fonts/NanumGothicExtraBold.woff2") format('woff2'),
  url("fonts/NanumGothicExtraBold.woff") format('woff'),
  url("fonts/NanumGothicExtraBold.otf") format('truetype')
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}